@font-face {
    font-family: int-medium;
    src: url(references/fonts/iranintl-medium.ttf);
}
@font-face {
    font-family: int-semi;
    src: url(references/fonts/iranintl-semibold.ttf);
}
@font-face {
    font-family: int-bold;
    src: url(references/fonts/iranintl-Bold.ttf);
}

*{
    font-family: 'int-medium';
}

body{
    display: flex;
    margin: 0%;
    padding: 0%;
    background-color: #212529;
    flex-direction: row;
    justify-content:space-between;
}

/*---------------------------------------------------------------Menu panel section---------------------------------------------------------------*/
.MenuPnl{
    display: flex;
    width: 35vh;
    height: 100vh;
    justify-content: center;
    align-items: start;
    /* padding-top:20vh ; */
    background-color: #272B2F;
}
.flex-row{
    position: relative;
    top: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    width: 85%;
    height: 6%;
    /* border-radius: 28px; */
    border-radius: 18px;
    background: #53EAFF;
    box-shadow: 0px 0px 17px 0px rgba(83, 234, 255, 0.30);
}


/*---------------------------------------------------------------main section--------------------------------------------------------------------*/
.MainSec{
    display: flex;
    width: 100%;
}
.CardsSec{
    position: relative;
    width: 90%;
    height: 40%;
    /* background-color: antiquewhite; */
    padding:2%;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;

}
.SecTitle{
    color: #A6A7A9;
    font-family: 'int-bold';
}
.cards{
    grid-template-columns: auto auto auto auto;
    /* grid-template-columns: repeat(4, 1fr); */
    padding: 1rem;
    /* background-color: #A6A7A9; */
    width: 80vh;
    height: 30%;
    display: grid;
    row-gap: 2vh;
    column-gap: 2vh;
    justify-content:center;
}
.card{
    width: 27vh;
    height: 15vh;
    border-radius: 0.875rem;
    background: linear-gradient(135deg, #2D3136 0%, #2D323B 100%);
    box-shadow: 0px 0px 0px 0px rgba(27, 28, 29, 0.10), 0px 4px 8px 0px rgba(27, 28, 29, 0.10), 0px 15px 15px 0px rgba(27, 28, 29, 0.09), 0px 34px 20px 0px rgba(27, 28, 29, 0.05), 0px 60px 24px 0px rgba(27, 28, 29, 0.01), 0px 94px 26px 0px rgba(27, 28, 29, 0.00);
}




/*---------------------------------------------------------------User panel section-------------------------------------------------------------------*/
.UserPnl{
    display: flex;
    width: 50vh;
    height: 100vh;
    background-color: #272B2F;
}



/* ******************************************* Responsive section *************************************************** */


@media only screen and (max-width: 600px) {

    /* این بخش رو بعد ادیت کنید */





}